<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body class="bg-light-white">
    <%- include('partials/header') -%>
    <main>
      <div class="xl:w-[1200px] md:w-4/5 mx-auto mt-10">
        <h1 class="text-4xl">Personal Blog</h1>
        <div class="flex flex-col">
          <ul
            class="bg-light-main mt-7 py-8 px-5 rounded-lg flex flex-col gap-6 min-h-96"
          >
          <% articles.forEach((article)=>{ %>
            <li>
              <a
                href="/articles/<%= article.id %>"
                class="flex justify-between items-center bg-light-white py-2 px-3 rounded-lg"
              >
                <span><%= article.title %></span>
                <span><%= new Date(article.date).toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "short",
                    year: "numeric"
                  }) %></span>
              </a>
            </li>
          <%}); %>
          </ul>
          <%- include('partials/pagination', { currentPage, totalPages }) %>
        </div>
      </div>
    </main>
  </body>
</html>